@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap');

$primary-vivid-blue: #0e5fe3;
$primary-black: #191919;
$primary-light-greyish-blue: #f6f7f8;

$secondary-dark-blue: #0a49af;
$secondary-sky-blue: #2ab7fe;

$lawconnect-gradient: linear-gradient(
  to right,
  $primary-vivid-blue,
  $secondary-dark-blue
);

html {
  font-family: 'Nunito', sans-serif;
  font-weight: 400;
  letter-spacing: 0.08px;
  overflow: -moz-scrollbars-vertical;
overflow-x: hidden;
overflow-y: auto;

}