@import "./global.scss";

.background {
  background: transparent linear-gradient(0deg, #0a49af 0%, #0e5fe3 100%) 0% 0%
    no-repeat padding-box;
}

.headerSize {
  min-height: 75vh;
  background: linear-gradient(
    90deg,
    $primary-vivid-blue 0%,
    $secondary-dark-blue 100%
  );
}

header {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
  div {
    flex-wrap: wrap-reverse;
    margin-left: 5%;
    margin-right: 5%;
  }
  button {
    color: white;
    font-weight: 700;
    background-color: $secondary-sky-blue;
    display: inline-block;
    width: 180px;
    height: 40px;
    border-radius: 5px;
  }
}

.twoColoumnLayoutHeader {
  width: 100vw;
  height: max-content;
  display: flex;
  gap: 10vw;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: left;
}

.sectionTopHeader {
  color: white;
  font-size: 36px;
  font-weight: 600;
  text-align: left;
}

.headerTextBox {
  font-size: small;
  color: white;
  text-align: left;
  overflow-wrap: break-word;
  inline-size: 445px;
}

footer {
  height: 10vh;
  background-color: $primary-black;
}
