@import "./global.scss";

.headerSize {
  min-height: 75vh;
  //background-image: url("../images/LawConnect-lcon-sky-blue-RGB.svg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  position: relative;

  background: linear-gradient(
    90deg,
    $primary-vivid-blue 0%,
    $secondary-dark-blue 100%
  );
}

.navigationBar {
  width: 100%;

  display: flex;
  gap: 16px;

  justify-content: space-evenly;
  align-items: center;
}

ul {
  list-style-type: none;
  button {
    color: white;
    font-weight: 700;
    background-color: $secondary-sky-blue;
    display: inline-block;
    width: 180px;
    height: 40px;
    border-radius: 5px;
  }

  li {
    display: inline;
    padding-left: 8px;
    padding-right: 8px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
  }
}

header {
  text-align: center;
  padding-top: 64px;
  padding-bottom: 64px;
  p {
    color: #fff;
  }
  div {
    flex-wrap: wrap-reverse;
    // margin-left: 5%;
    // margin-right: 5%;
  }
  button {
    color: white;
    font-weight: 700;
    background-color: $secondary-sky-blue;
    display: inline-block;
    width: 180px;
    height: 40px;
    border-radius: 5px;
  }
}

.twoColoumnLayoutHeader {
  width: 100vw;
  height: max-content;
  display: flex;
  // gap: 10vw;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: left;
}

.sectionTopHeader {
  color: white;
  font-weight: 600;
  text-align: left;
}

.headerTextBox {
  color: white;
  text-align: left;
  overflow-wrap: break-word;
  inline-size: 445px;
  padding-left: 12px;
  padding-right: 12px;
}

footer {
  height: 10vh;
  background-color: $primary-black;
}

@media screen and (max-width: 768px) {
  header {
    button {
      color: white;
      font-weight: 700;
      background-color: $secondary-sky-blue;
      display: inline-block;
      width: 290px;
      height: 48px;
      border-radius: 5px;
      align-items: center;
    }
  }
}

// Responsive

@media screen and (max-width: 768px) {
  .navigationBar {
    display: flex;
    gap: 16px;
    justify-content: space-around;
    align-items: flex-end;

  }

  .sectionTopHeader {
    text-align: center;
  }

}


//Hamburger Menu

.hamburgerMenuIcon {
  width: 32px;
  height: 2px;
  margin: 8px;
  background-color: white;
}
