@import "./global.scss";

.twoColoumnLayout {
  width: 100vw;
  height: max-content;
  display: flex;
  gap: 10vw;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.twoColoumnLayoutWrapReverse {
  width: 100vw;
  height: max-content;
  display: flex;
  gap: 10vw;
  flex-wrap: wrap-reverse;
  justify-content: center;
  align-items: center;
}

.sectionContainer {
  padding-top: 32px;
  padding-bottom: 32px;
}

.sectionHeader {
  color: $secondary-dark-blue;
}

.imgColoumn {
  width: 445px !important;
}

.textBox {
  inline-size: 445px;
  overflow-wrap: break-word;
  padding-left: 12px;
  padding-right: 12px;
}

.withBGColor {
  background: $primary-light-greyish-blue;
}

.jumbotronMargin {
  margin-left: 5%;
  margin-right: 5%;
}
