// Global Variable
$font-stack: Helvetica, sans-serif;

$primary-vivid-blue: #0e5fe3;
$primary-black: #191919;
$primary-light-greyish-blue: #f6f7f8;

$secondary-dark-blue: #0a49af;
$secondary-sky-blue: #2ab7fe;

$lawconnect-gradient: linear-gradient(
  to right,
  $primary-vivid-blue,
  $secondary-dark-blue
);

html {
  padding: none;
  margin: 1em;
}

// Global Variable End

.background {
  background: transparent linear-gradient(0deg, #0a49af 0%, #0e5fe3 100%) 0% 0%
    no-repeat padding-box;
}

.SectionHeader {
  color: $secondary-dark-blue;
  font-size: 24px;
  text-align: center;
}

// CardSection Components CSS

.card-layout {
  width: 100%;
  display: flex;
  gap: 68px;
  flex-wrap: wrap;
  justify-content: center;
}

.card {
  background: #ffffff;
  box-shadow: 0px 5px 15px #00000026;
  border-radius: 5px;
  max-width: 322px;
  max-height: 320px;
  img {
    max-width: 322px;
    max-height: 160px;
  }
  .card-body {
    text-align: left;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 24px;
    padding-right: 24px;
    color: $primary-black;
    font-size: 14px;
    letter-spacing: 0.08px;

    h4 {
      color: $secondary-dark-blue;
      font-size: 18px;
      font-weight: bold;
    }
  }
}
