html{
  padding: none;
}

.layout {
  width: 100%;

  display: flex;
  gap: 16px;
  flex-wrap: wrap;

  justify-content: center;
  align-items: center;
}

.background {
  background: transparent linear-gradient(0deg, #0a49af 0%, #0e5fe3 100%) 0% 0%
    no-repeat padding-box;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 40%;
}